.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-content {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  padding: 2rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-y: auto;
}
