.navbar {
  height: 60px;
  background-color: var(--color-bg);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
  margin-left: 220px;
  border-bottom: 1px solid var(--color-border);

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}
